.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(215, 183, 245);
  height: 50px;
  margin: 0px;
}

.nav-item {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  /* font: optional; */
  /* background-color: aqua; */
}
